
<div class="listado mt-3 container">
    <br>
    <table class="table table-bordered" *ngIf="clienteService.cantidad() > 0">
        <tr>
            <th>ID</th>
            <th>NOMBRE COMPLETO</th>
            <th>CUIT</th>
            <th>FECHA DE NACIMIENTO</th>
            <th>ACTIVO</th>
        </tr>
        <tr *ngFor="let item of clienteService.listaClientes">
            <td>{{item.id}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.cuit}}</td>
            <td>{{item.fechaNacimiento | date:'dd/MM/yyyy'}}</td>
            <td>{{item.activo}}</td>
            <td>
                
                 <div><button (click)="borrarPersona(item)" class="btn btn-danger ">deshabilitar</button></div>
                 <div><button  class="btn btn-success" (click)="editar(item.id)">editar</button></div>
                 
            
            </td>
        </tr>
    </table>
</div>

